@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@200&display=swap');

:root {
    --white:#3d45b6;
    --shapka:#151a5c;
    --fon:#000000;
    --knopo4ka:#151a5c;
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    transition: all .2s linear;
}
body{
    background-color: var(--fon);
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;

}
section{
    padding: 2rem 9%;
}
section:nth-child(even){
    background: var(--fon);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--shapka);
    padding: 1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    box-shadow: var(--box-shadow);
}
.heading{
    text-align: center;
    color: var(--white);
    margin-bottom: 3rem;
    font-size: 4rem;
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color: #ffffff;
    background: var(--knopo4ka);
    border-radius: .5rem;
    cursor: pointer;
    padding: 8rem 3rem;
}
.btn:hover{
    background: var(--white);
    color: var(--knopo4ka);
    letter-spacing: .1rem;
}
header .logo{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bolder;
}
header .logo i{
    color: var(--shapka);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: #ffffff;
}
header .navbar a.ative,
header .navbar a:hover{
    color: var(#fff);
    background: var(--white);
}
header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height: 4.5rem;
    line-height: 4.5rem;
    width: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #151a5c;
    border-radius: 50%;
    background: var(--white);
}
header .icons i:hover,
header .icons a:hover{
    color: var(--white);
    background: #151a5c;
    transform: rotate(360deg);
}
header .icons #menu-bars{
    display: none;
}



@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
article {
    --img-scale: 1.001;
    --title-color: rgb(255, 255, 255);
    --link-icon-translate: -20px;
    --link-icon-opacity: 0;
    position: relative;
    border-radius: 16px;
    box-shadow: none;
    background: #151a5c;
    ;
    transform-origin: center;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
  }
  
  article a::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: "";
  }
  
  /* basic article elements styling */
  article h2 {
    margin: 0 0 18px 0;
    font-size: 1.9rem;
    letter-spacing: 0.06em;
    color: var(--title-color);
    transition: color 0.3s ease-out;
  }
  
  figure {
    margin: 0;
    padding: 0;
    aspect-ratio: 16 / 9;
    overflow: hidden;
  }
  
  article img {
    max-width: 100%;
    transform-origin: center;
    transform: scale(var(--img-scale));
    transition: transform 0.4s ease-in-out;
  }
  
  .article-body {
    padding: 24px;
  }
  

  
  article a .icon {
    min-width: 24px;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    transform: translateX(var(--link-icon-translate));
    opacity: var(--link-icon-opacity);
    transition: all 0.3s;
  }
  
  
  
  
  /************************ 
  Generic layout (demo looks)
  **************************/
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 20px;
    padding: 48px 0;

    font-size: 1.2rem;
    line-height: 1.6rem;
    background-color: #000000;
    min-height: 100vh;
  }
  
  .articles {
    display: grid;
    max-width: 1200px;
    margin-inline: auto;
    color: #fff;
    padding-inline: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
  }
  
  @media screen and (max-width: 960px) {
    article {
      container: card/inline-size;
    }
    .article-body p {
      display: none;
    }
  }
  
  @container card (min-width: 380px) {
    .article-wrapper {
      display: grid;
      grid-template-columns: 100px 1fr;
      gap: 16px;
    }
    .article-body {
      padding-left: 0;
    }
    figure {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    figure img {
      height: 100%;
      aspect-ratio: 1;
      object-fit: cover;
    }
  }
  
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
  }